<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkkh2Pmb-anS2S-Tfmcre0Y3P99vrg91s</string>
	<key>GCM_SENDER_ID</key>
	<string>619999078158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mottu.marvel</string>
	<key>PROJECT_ID</key>
	<string>mottu-marvel-c49e4</string>
	<key>STORAGE_BUCKET</key>
	<string>mottu-marvel-c49e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619999078158:ios:dbc20c17d4f8c064ea995f</string>
</dict>
</plist>